html,
body,
#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

div,
button,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
}
